/* Animations */
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.wave-text {
  display: inline-block;
  animation: wave .5s ease-in-out;
}

/* App CSS */
.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* Game CSS */
body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 300px;
  padding: 12px 0 18px 0;
  border-bottom: 1px solid gray;
}

.header .help {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 14px;
  padding: 2px 7px;
  border: 1px solid gray;
  color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close {
  padding: 7px;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  color: gray;
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-body h5 {
  margin-bottom: -10px;
}

.modal-body div {
  margin: 12px 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 100%;
}

.stars {
  display: flex;
  margin-bottom: 18px;
}

.stars-game-over {
  display: flex;
  margin-bottom: 0;
}

.board {
  position: relative;
  font-size: 8vw;
}

.clue {
  letter-spacing: 2vw;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-bottom: 2px solid #000;
  padding: 0;
  max-width: 10vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0;
}

input:focus {
  outline: none;
}

.buttonBar {
  height: 40px;
}

.buttonBar button {
  font-family: inherit;
  padding: 7px 18px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #17866a;
  outline: 1px solid black;
  border-radius: 50px;
  transition: all 0.3s;
  border: none;
  width: 100px;
}

.buttonBar button.disabled {
  font-family: inherit;
  cursor: default;
  outline: 1px solid #abaaaa;
  color: #abaaaa;
  background-color: rgba(0, 0, 0, 0.05);
}

.buttonBar button.disabled:focus,
.buttonBar button.disabled:active,
.buttonBar button.disabled:hover {
  font-family: inherit;
  cursor: default;
  outline: 1px solid #abaaaa;
  color: #abaaaa;
  background-color: rgba(0, 0, 0, 0.05);
}

.buttonBar button:hover {
  background-color: #136752;
}

.buttonBar .hint {
  margin-right: 16px;
  background-color: #000;
}

.buttonBar .hint:hover {
  background-color: #000;
}

.keyboard {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 650px;
  text-transform: uppercase;
}

.simple-keyboard.hg-layout-default .removed {
  background-color: #c4c4c4 !important;
  pointer-events: none;
}

.solution-description {
  position: absolute;
  bottom: -85%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-style: italic;
  width: 150%;
}

.countdown {
  font-size: 18px;
}

.countdown .time {
  font-weight: bold;
}

.game-over {
  margin: 60px 0 10px;
  width: 100%;
}

.game-over-score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.your-score {
  margin-right: 6px;
}

/* Media Queries */
@media only screen and (min-width: 550px) {
  .board {
    font-size: 40px;
  }

  .clue {
    letter-spacing: 16px;
  }

  input {
    max-width: 60px;
  }
}