body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 300px;
  padding: 12px 0 18px 0;
  border-bottom: 1px solid gray;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 100%;
}

.board {
  font-size: 38px;
}

.clue {
  letter-spacing: 12px;
}

input {
  width: fit-content;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-bottom: 2px solid #000;
  padding: 0;
  max-width: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0;
}

input:focus {
  outline: none;
}
.buttonBar {
  height: 40px;
}

.buttonBar .submit {
  font-family: inherit;
  padding: 7px 18px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #17866a;
  outline: 1px solid black;
  border-radius: 50px;
  transition: all 0.3s;
}

.buttonBar .submit:disabled {
  font-family: inherit;
  cursor: default;
  outline: 1px solid #abaaaa;
  color: #abaaaa;
  background-color: rgba(0, 0, 0, 0.05);
}

.buttonBar .submit:hover {
  background-color: #136752;
}

.keyboard {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 650px;
  text-transform: uppercase;
}

.simple-keyboard.hg-layout-default .removed {
  background-color: #c4c4c4 !important;
  pointer-events: none;
}